body {
  font-family: Arial, sans-serif;
  background-color: #EADBC8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
 
}

.container {
  background: #C7B7A3;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 900px;
  width: 100%;
  color: #021526;
}

h1 {
  margin-bottom: 20px;
}

#text-to-type {
  font-size: 18px;
  margin-bottom: 20px;
}

#input-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.stats {
  margin-top: 20px;
}

.stats p {
  margin: 5px 0;
  font-size: 16px;
}
#twenty-Word, #fifty-Word{
    margin-right: 20px;
}
#restart-btn, #hundread-Word , #fifty-Word, #twenty-Word {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background: #EADBC8;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

#restart-btn:hover, #hundread-Word:hover , #fifty-Word:hover, #twenty-Word:hover {
  background: #914F1E;
}
/* #hundread-Word , #fifty-Word, #twenty-Word {
  background: #EADBC8;
  background-image: -webkit-linear-gradient(top, #EADBC8, #EADBC8);
  background-image: -moz-linear-gradient(top, #EADBC8, #EADBC8);
  background-image: -ms-linear-gradient(top, #EADBC8, #EADBC8);
  background-image: -o-linear-gradient(top, #EADBC8, #EADBC8);
  background-image: linear-gradient(to bottom, #EADBC8, #EADBC8);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 5px;
  font-family: Arial;
  color: black;
  font-size: 21px;
  padding: 5px 5x 5px 5x;
  text-decoration: none;
}

#hundread-Word:hover , #fifty-Word:hover, #twenty-Word:hover {
  background: #C7B7A3;
  background-image: -webkit-linear-gradient(top, #C7B7A3, #C7B7A3);
  background-image: -moz-linear-gradient(top, #C7B7A3, #C7B7A3);
  background-image: -ms-linear-gradient(top, #C7B7A3, #C7B7A3);
  background-image: -o-linear-gradient(top, #C7B7A3, #C7B7A3);
  background-image: linear-gradient(to bottom, #C7B7A3, #C7B7A3);
  text-decoration: none;
} */
